DirectoryIndex index.php
Options -Indexes

<FilesMatch "^\.env">
  Require all denied
</FilesMatch>
<FilesMatch "\.(sql|log|md)$">
  Require all denied
</FilesMatch>

<IfModule mod_php.c>
  php_value upload_max_filesize 200M
  php_value post_max_size 210M
  php_value max_execution_time 300
</IfModule>
<IfModule mod_php8.c>
  php_value upload_max_filesize 200M
  php_value post_max_size 210M
  php_value max_execution_time 300
</IfModule>

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /nook/

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

RewriteRule ^ index.php [L]
</IfModule>
